server:
  port: 8080
  servlet:
    context-path: /user-service
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/database
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
